.about{
    background-image: url('../img/about/pattern.65d483d3.png');
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    top: -75px;
    .about-images{
        .roms{
            .rom-img1{
                img {
                    height: auto;
                    max-width: 100%;
                }
            }
            position: relative;
            top: 75px;
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: -40px;
                width: 30px;
                height: 250px;
                background-color: var(--primary);
            }
            .about-2{
                position: absolute;
                bottom: -40px;
                right: 20%;
                border: 15px solid var(--white-color);
            }
            .btn-item{
                position: absolute;
                top: 79px;
                left: 60%;
                padding: 12px;
                border: 1px solid #d4d4d5;
                .play-btn{
                    width: 107px;
                    height: 107px;
                    line-height: 107px;
                    text-align: center;
                    background: var(--primary);
                    color: var(--white-color);
                    font-size: 30px;
                    display: inline-block;
                }
            }
            .exp-item{
                position: absolute;
                padding: 36px 15px 33px 15px;
                background-color: var(--black-color);
                top: 213px;
                left: 20%;
                text-align: center;
                img{
                    margin: 0 auto;
                }
                h4{
                    font-size: 24px;
                    color: var(--white-color);
                    font-family: var(--text-Gilda-Display);
                    margin: 10px 0px;
                }
                p{
                    font-size: 18px;
                    color: #ababab;
                    line-height: 24px;
                }
            }
        }
    }
    .about-text{
        margin-top: 75px;
        padding-right: 20%;
        .about-text1{
            margin-top: 35px;
            color: var(--text-color);
        }
        .about-detail{
            .about-detail1{
                margin-top: 40px;
                img{
                    width: 64px;
                    height: 64px;
                }
                .h1{
                    width: 80px;
                    height: 80px;
                }
                h4{
                    font-size: 24px;
                    letter-spacing: .15px;
                    font-family: var(--text-Gilda-Display);
                    color: var(--text-color-100);
                    margin-left: 20px;
                }
            }
        }
        .icone-box{
            margin-top: 40px;
            i{
                font-size: 25px;
                color: var(--primary);
            }
            .about-content{
                margin-left: 40px;
            }
            .about-contect1{
                margin-left: 20px;
                span{
                    color: var(--text-color);
                    font-size: 18px;
                    text-transform: uppercase;
                }
                h4{
                    display: block;
                    font-size: 24px;
                    font-weight: 400;
                }
            }
        }
    }
}
.bounce-y{
    animation: bounce-y 10s linear infinite;
}
@keyframes bounce-y {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

.shine {
	position: relative;
	overflow: hidden;

	&::before {
		background: linear-gradient(
			to right,
			fade_out(#fff, 1) 0%,
			fade_out(#fff, 0.7) 100%
		);
		content: '';
		display: block;
		height: 100%;
		left: -75%;
		position: absolute;
		top: 0;
		transform: skewX(-25deg);
		width: 50%;
		z-index: 2;
	}

	&:hover,
	&:focus {
		&::before {
			animation: shine 0.85s;
		}
	}

	@keyframes shine {
		100% {
			left: 125%;
		}
	}
}