.head.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    // width: 100%;
    z-index: 999;
    background-color: var(--black-color);
    transition: 0.2s linear;
}
header {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    z-index: 20;
    nav {
        margin: 0 auto;
        ul{
            display: flex;
            gap: 30px;
            li{
                a{
                    font-size: 18px;
                    color: var(--white-color);
                    font-family: var(--text-Barlow);
                    letter-spacing: 1.3px;
                    line-height: 30px;
                    font-weight: 500;
                }
                i{
                    color: var(--white-color);
                    font-size: 14px;
                }
                &:hover{
                    i{
                        color: var(--primary);
                    }
                }
            }
        }
        .dropdown, .dropdown2{
            position: relative;
            .dropdown-menu, .dropdown-menu2{
                position: absolute;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transform: translateY(50px);
                transition: all 0.3s ease-in;
                .dropdown-menu2{
                    left: 115%;
                }
                ul{
                    flex-direction: column;
                    background-color: var(--white-color);
                    box-shadow: 2px 2px 5px 1px rgba(0,0,0,.05);
                    width: 220px;
                    padding: 15px 25px;
                    border-bottom: 1px solid #ebf1f5;
                    gap: 5px;
                    li{
                        a{
                            color: var(--black-color);
                            font-weight: 500;
                            &:hover{
                                color: var(--primary);
                            }
                        }
                    }
                }
                &:hover .dropdown-menu2{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                }
            }
            &:hover .dropdown-menu{
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }
            &:hover a{
                color: var(--primary);
            }
        }
    }
    
}